.tittle{
    font-size: 45px;
    text-align: center;
    margin: 15px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}
.tittle-data{
    text-align: center;
    font-size: 33px;
    font-family: system-ui;
}
input[type="text"]{
    height: 27px;
    font-size: 20px;
    vertical-align: bottom;
}
.btn{
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    background-color: #fff;
    border: 2px solid #fff;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}
body{
    background-color: black;
    color: #fff;
}
.data{
    border: 1px solid;
    display: inline-block;
    /* width: 400px;
    margin: 40px; */
    width: 474px;
    margin: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #fff;
}
.user-img{
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 160px;
    margin-top: 10px;
}
.name{
    text-align: center; 
    margin: 20px 0px;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{ 
    text-align: center;
    font-size: 20px;
}
